:root {
    --primary-color: #242A33;
    --secondary-color: #3498db;
    --button-background: #0290f5;
    --text-color: #ffffff;
    --background-color: #101010;
    --footer-background: #0290f5;
    --accent-color: #5dade2;
    --font-heading: 'YourHeadingFont', sans-serif;
    --font-body: 'YourBodyFont', sans-serif;
}

* {
    font-family: 'proxima-nova', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #101010;
    color: var(--text-color);
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    background-color: #101010;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo-text, .logo-413 {
    font-size: 1.5em;
}

.logo-text {
    margin-left: 10px;
    color: #3498db;
}

.logo-413 {
    color: white;
}

scroll-container {
    position: relative;
    width: 100%; /* Set your desired width */
    height: 50px;  /* Set your desired height */
    overflow: hidden;
    border: 1px solid #000;
}

.scroll-text {
    display: inline-block;
    position: absolute;    
    white-space: nowrap;
    will-change: transform;
    animation: scroll 7s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--button-background);
}

.book-now {
    background-color: var(--button-background);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid var(--secondary-color);
}

.book-now:hover {
    background-color: var(--button-background);
    border-color: var(--button-background);
}

.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    margin-top: 0px;
    background: none;
}

.promo-content-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    
}

.promo-content {
    max-width: 600px;
    color: var(--text-color);
}

.promo-image {
    position: relative;
    flex: 1;
    height: 60vh;
}

.promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-content h1 {
    font-family: var(--font-heading);
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.promo-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.promo-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.promo-button:hover {
    background-color: #0270b5;
}

.social-links {
    position: fixed;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.social-links .fa, .social-links .fab {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links .fa:hover, .social-links .fab:hover {
    opacity: 0.7;
}

.content {
    flex: 1;
    padding: 20px;    
}

.section {
    background-color: #0290f5;
    padding: 20px 30px;
    max-width: 600px;
    margin: 40px auto;    
    border-radius: 8px;
    position: relative;
}

.section h2 {
    margin-top: 20px;
    color: #333;
}

.section p {
    line-height: 1.6;
}

.section a {
    color: white;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.about {
    margin-bottom: 140px;
    margin-top: 0px;
}

.trial {
    margin-top: 40px;
    margin-bottom: 40px;
}

.join {    
    padding: 20px 30px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    position: relative;
    color: white;
}

.join h2 {
    color: #333;
    margin-top: 20px;
}

.join p {
    color: #333;
    line-height: 1.6;
}

.form-overlay {
    position: absolute;
    top: 20%;
    left: 21%;
    height: 70%;
    width: 80%;
    background-color: var(--button-background);
    padding: 20px;
    border-radius: 8px;    
}

.form-container {    
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0290f5;
    border-radius: 8px;    
    position: relative;
}

.form-container p, .form-container h5, .form-container a, .form-container form {
    color: white;
}

.form-container a {
    text-decoration: none;
    color: blue;
}

.form-container a:hover {
    text-decoration: underline;
}

.file-input-wrapper label, .submit-button, .book-now, .file-label, .button {
    background-color: var(--button-background);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    text-align: center;
    width: auto;
}

.file-input-wrapper label:hover, .submit-button:hover, .book-now:hover, .file-label:hover, .button:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

input[type="file"] {
    display: none;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 25px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-color: #3498db;
}

input::placeholder {
    color: #999;
}

input[type="submit"] {
    background-color: var(--button-background);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    text-align: center;
    width: auto;
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-notice {
    color: #333;
    font-size: 0.9em;
    line-height: 1.5;
}

.form-notice a {
    color: blue;
    
}

.form-notice a:hover {
    text-decoration: underline;
}

.footer {
    background-color: var(--footer-background);
    color: var (--text-color);
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
}
